.skills-main {
  padding: 2rem 0;
}
.skill-title {
  font-size: 2rem;

  font-weight: 600;
  margin-bottom: 1rem;
}

.skill-card {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
}

.skill {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  flex: 1;
  background: rgba(83, 77, 77, 0.63);
  padding: 0.5rem 0.5rem;

  border-radius: 0.7rem;
  
}



.skill-icon {
  font-size: 3rem;
}
