.contact-section {
  padding: 4rem 0;
  background-color: #2b114f59;
  color: rgb(255, 255, 255);
}
.contact-main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
}


.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin: 0.8rem;
}
.para-First,
.description {
  color: gray;
}
.nameContactIntro {
  font-size: 1.5rem;
  font-weight: 500;
  color: gray;
}
.inputValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  padding: 10px;
}
.inputValue {
  width: 100%;
}

input,
textarea {
  padding: 1rem 0.7rem;
  width: 100%;
  
  border-radius: 0.3rem;
  border: 2px solid white;
  color:white;
  outline: none;
  background: none;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* flex: 1; */
}
.btn-form {
  margin: 0.3rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(66, 10, 66, 0.501);
  color: white;
  padding: 1rem 0.4rem;
  border: 2px solid white;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 700px) {
  
  .inputValue {
    font-size: 10px;
  }
  .nameContactIntro {
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
  }
  .form {
   
    width: 90%;
    
  }
}
