.hamburger{
    height: 100vh;
    
}

.hamburger-icon{

    font-size: 1.6rem;
    color:white;
    
}
.hamburger-btn{
    background: none;
    border: none;
    position:relative ;
    
}
.hamburger-mobile-list{
    position: fixed;
    height:100vh;
    background-color: #2B114F;
    border-radius: 0.2rem 0 0 0;
    z-index:100;
    padding: 3rem  ;
    right: 0;
    gap: 1rem;
    margin-top: 1.2rem;
    
    /* min-height:100%; */
    display: flex;
    flex-direction: column;
}